.reviewCard {
  border: 2px solid yellow;
  border-radius: 25px;
  padding: 25px;
  width: 400px;     /* Fixed width */
  height: 250px;    /* Fixed height */
  color: white;
  flex-shrink: 0;   /* Prevent shrinking in flex/grid */
}



.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.username {
  font-weight: bold;
  font-size: 1.5rem;
}

.rating {
  font-size: 1rem;
}

.movieTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.comment {
  font-size: 0.95rem;
  line-height: 1.4;
  max-height: 130px; /* Adjust as needed */
  overflow-y: auto;
  padding-right: 8px; /* Space for scrollbar */
  word-break: break-word;
}
.comment::-webkit-scrollbar {
  width: 6px;
}

.comment::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 4px;
}
